footer{
    background-color: #265a28b0;
}

.footer-nav-item{
    font-size: 1rem;
    font-weight: 200;
    margin-right: 2%;
}

.footer-nav-item>a{
    color: white;
}

@media (max-width: 991px) {

}
  
  @media (max-width: 768px) {
  
  }