footer{
    background-color: #265a28b0;
}

.footer-nav-item{
    font-size: 15px;
    font-weight: 200;
    margin-right: 2%;
}

.footer-nav-item>a{
    color: white;
}

.footer-link{
    text-decoration: none;
    font-size: large;
    color: white;
}

.footer-link:hover{
    color: #235021;
}

.footer-social-row{
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.footer-list{
    gap: 30px;
}



.footer-social-row a{
    color: white;
}

.footer-social-row a:hover{
    color: #235021;
}

@media (max-width: 991px) {
    .footer-social-row{
        margin-top: 5%;
    }

    .footer-nav-item{
        margin-top: 35px;
    }
}
  
  @media (max-width: 768px) {
  
  }