body {
    background-color: #f7e7d6;
    box-sizing: unset;
    margin: 0;
    max-width: 100%;
    padding: 0;
    overflow-x: hidden;
}

*{
    font-family: Inria Serif;
    box-sizing: border-box;
}

.styled-spacer{
    border: white 1px solid;
    border-radius: 50px;
}

.icon-white{
    fill: #ffffff;
    background-color: transparent;
}

.sectionheading-light>h1{
    color: #FEF6B5;
    font-size: 4rem;
    font-weight: 700;
  }

.sectionheading-light>h2{
    color: #FEF6B5;
    font-size: 2rem;
    font-weight: 700;
  }

  .sectionheading-light>h3{
    color: #FEF6B5;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .sectionheading-light>h4{
    color: #FEF6B5;
    font-size: 2rem;
    font-weight: 700;
  }

  .styled-paragraph{
    margin-top: 10px;
    font-size: 1.5rem;
  }

  .styled-paragraph-small{
    margin-top: 10px;
    font-size: 1rem;
  }

  .txt-light{
    color: #DCD7C9;
  }

  .txt-dark{
    color: #235021;
  }

  .styled-h2-light{
    color:#FEF6B5;
  }

  .marked-text{
    color: #ff9900;
    font-weight: 700;
  }

  .sectionheading-dark>h1{
    color: #235021;
    font-size: 4rem;
    font-weight: 700;
  }

  .sectionheading-dark>h2{
    color: #235021;
    font-size: 2rem;
    font-weight: 700;
  }

  mark{
    text-decoration: none;
    font-weight: bold;
  }

  .sectionheading-dark>h3{
    color: #235021;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .sectionheading-dark>h4{
    color: #235021;
    font-size: 2rem;
    font-weight: 700;
  }

  h5{
    font-size: larger;
    color: white;
  }

  .cardtitel-dark{
    color: #41653B;
    font-size: 1rem;
    font-weight: 700;
  }

  .cardtext-grey{
    color: #828282;
    font-size: 1rem;
  }

  .transparent-bg{
    background-color: transparent;
  }

  .overlay{
    position: absolute;
    z-index: 1;
  }

  @media (max-width: 991px) {

  }
    
    @media (max-width: 768px) {
    
    }